.mybox{
    background-color: crimson;
    min-height: 200px;
    margin: 20px 10px;
    padding: 20px;
        }

h1{
    color: azure;
}        


        /* // Large devices (desktops, less than 1200px) */
        @media (max-width: 1199.98px) { 

        }

        /* // Medium devices (tablets, less than 992px) */
        @media (max-width: 991.98px) { 
            h1{
                color: orange;
            } 

        }        

        /* // Small devices (landscape phones, less than 768px) */
        @media (max-width: 767.98px) { 
            h1{
                color: gray;
            }   
        
         }   

        /* // Extra small devices (portrait phones, less than 576px) */
        @media (max-width: 575.98px) { 

            h1{
                color: greenyellow;
            }   

         }
        

        

        

        
        /* // Extra large devices (large desktops)
        // No media query since the extra-large breakpoint has no upper bound on its width */